{% extends 'base.html' %}

{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <!-- test -->
                
                <!-- endtest -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-address-card text-danger" style="font-size: 20px"></i></i>Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <form action="#" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First Name: {{ form.first_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Last Name: {{ form.last_name}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Phone Number: {{ form.phone_number}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Email Address: {{ form.email}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                                    Address: {{ form.address}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Country: {{ form.country}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    State: {{ form.state}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    City : {{ form.city}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    CP: {{ form.pin_code}}
                                                </div>
                                            </div>
                                        
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Your order section -->

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <ul>
                                            {% if cart_menus %}
                                                {% for menu in cart_menus %}
                                                <li id="cart-menu-{{menu.id}}">
                                                    <div class="image-holder"> <img src="{{ menu.menu.image.url }}" alt=""></div>
                                                    <div class="text-holder">
                                                        <h6>{{ menu.menu }}</h6>
                                                        <span>{{ menu.menu.description }}</span>
                                                        <a href="{% url 'vendor_detail' menu.menu.vendor.vendor_slug %}" class="badge badge-warning">
                                                            {{ menu.menu.vendor }}
                                                        </a>
                                                    </div>
                                                    <div class="quantity" style="display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); margin-top: -10px;">
                                                        <span>{{ menu.quantity }} QTY</span>
                                                    </div>
                                                    <div class="price-holder">
                                                        <span class="price">${{ menu.menu.price }}</span>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% else %}
                                                <div class="text-center p-5">
                                                    <h3>
                                                        Cart Is Empty
                                                    </h3>
                                                </div>
                                            {% endif %}
                                        </ul>                                            
                                       
                                    </div>

                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>
                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small>({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="tax-{{ key }}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                            <li style="list-style-type: none; font-weight: 600;">
                                                Total
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>
                                            <button type="submit" href="#" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>

                                            <!-- Termina el form -->
                                        </form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- End your order section -->
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}