/* Clase de templates/includes/alerts.html video34 ejemplo*/
@keyframes show-toast{
    0% {bottom: -100%}
    20% {bottom: 100px}
    80% {bottom: 100px}
    100% {bottom: -100%}
}

.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

/*.btn.btn-info*/
.btn{
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}
.main-search.fancy .field-holder input[type="text"]{
    color:black !important;
}
#footer .copy-right, #footer.modern-v1 .cs-copyright {
    background-color: #062a30 !important;
}
#footer .footer-widget{

}
#footer {
    background: #282c35;
}

table > tbody > tr > td{
    border: none !important;
}
/* Anchura deel fomrulario de horario */
#opening_hours select{
    padding: 5px 10px !important;
}
/* Anchura del boton del formulario de horario */
.btn-success.add_hour{
    padding: 7px 15px 7px 15px !important;
}

.container-fluid{
    /* background-color: #102A31 !important; */
    background: url("static/logo/pattern.png") 50% 0 no-repeat fixed;
}